<div class="banner-area">
    <div class="banner">
      <div class="banner-image">
        <img src="https://motorway-blog.imgix.net/2022/07/roland-denes-EWf48MRVUNE-unsplash-683x1024.jpg?auto=compress,format" alt="banner image" class="img-fluid"/>
      </div>
      <div class="banner-content">
        <span class="banner-content-subtitle">SARCARS</span>
        <span class="banner-content-title ">Your Dreams Are Here...</span>
        <a class="banner-content-link" href="#">SEE MORE</a>
      </div>
    </div>
  </div>